<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div id="lol" alt="Random first slide"><a href="https://github.com/benyebai/League-Tracker" class="fill-div"></a></div>
		</div>
		<div class="carousel-caption">
			<h3>League Of Legends Stat Tracker</h3>
			<p>A full stack website that incorporates riot's API to retrieve data on players and display it interactively</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div id="chess" alt="Random first slide"><a href="https://github.com/benyebai/ChessGame-Webapp" class="fill-div"></a></div>
		</div>
		<div class="carousel-caption">
			<h3>Chess AI</h3>
			<p>A Chess web-application that supports online muiltiplayer using the socket.io library. Also incorporates an AI using the Min-Max algorithm and alpha beta pruning for efficiency</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div id="food" alt="Random first slide"><a href="https://github.com/benyebai/recipog" class="fill-div"></a></div>
		</div>
		<div class="carousel-caption">
			<h3>Recipog (recipe app)</h3>
			<p>A full stack web application using the Tasty API to request for info and trending recipes around the world. The app then searches for important info and displays it intutively. The app also has different functions for personlization.</p>
		</div>
	</ng-template>
</ngb-carousel>
