<nav class="navbar">
    <ul>
      <li><a href="#firstPage">HOME</a></li>
      <li><a href="#secondPage">ABOUT</a></li>
      <li><a href="#thirdPage">PROJECTS</a></li>
      <li><a href="#fourthPage">EXPERIENCES</a></li>
      <li><a href="#fifthPage">CONTACT</a></li>
    </ul>
</nav>


<section id="firstPage">
    <div class="IntroBox" data-aos="fade-down" data-aos-once="true">
      <h1 class="Title">
        <b>BENJAMIN</b> BAI
      </h1>

      <h1 class="Caption">
        I SUCK, NO CAP
      </h1>
    </div>
</section>

<section id="secondPage">
    
  <div>
    <h1 class="About" data-aos="fade-down" >
      ABOUT ME
    </h1>

    <div class="Paragraph" data-aos="fade-up" >
      <p class="Text"> 
        Hey, I'm Benjamin Bai, and I'm an aspiring senior looking to be able to grow into the world of techonology and entrepreneurship.
        I love to immerse myself with all topics related to technology, and am passionate about connecting with and learning from others' experiences.
        I cant way to dive and explore the endless possibilites that tech has provided us, expand my knowledge, and see where my passion leads me.
      </p>
    </div>

    <div class="Pic"></div>

  </div>

</section>

<section id="thirdPage">
    
    <h1 class="Projects" data-aos="fade-down">
      PROJECTS
    </h1>
    
    <div class="carousel-container">
        <app-carousel></app-carousel>
    </div>

</section>

<section id="fourthPage">
    <h1 class="Experiences" data-aos="fade-left" >EXPERIENCES</h1>
    <div id="experience-container">
      <div class="delta">
        <div class="delta-pic"></div>
        <div class="description">
          <h3>
            Software Engineer Intern at Delta Controls
          </h3>
          <p>
            I worked in a team of 6 guided by a top of the industry business lead within delta controls.
            Our project was to develop a new web-based full stack Applicant Tracking System to automate the hiring process for the Human Resources department.
            We worked to develop an exensive Rest API using node JS and Express for account creation, deletion, and management. We also implemented JWT tokens to interact with the back end for user autentication to ensure user security.
            The work I did included reviewing business requirements, picking developent tools, researching backend technology and framework, creating technical design and database structure, and code implementation.
          </p>
        </div>
        
      </div>
    </div>
  
  </section>

<section id="fifthPage">
  
  <h1 class="Experiences" >CONTACT</h1>
  <app-form></app-form>

</section>
